@font-face {
    font-family: 'Ubuntu';
    src:  url('../fonts/Ubuntu.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
  }

.wrapper {
    width: 1050px;
    margin: 0 auto;
}

.header {
    font-family: 'Ubuntu';
    font-size: 17px;
    display: flex;
}

.item-header {
    text-decoration: none;
    color: rgb(66, 64, 64);
}
  
.nav__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.nav__item:after {
    display: block;
    color: grey;
    clear: both;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}