.content__block {
    display: flex;
}

.block__text {
    margin-right: 15px;
}

.block__item {
    padding-top: 15px;
}

.block__pic {
    width: 350px;
    height: 250px;
}

.block__text-title {
    text-align: center;
    margin-top: 40px;
}